h1 {
    color: blue;
}

.modal-create {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-container {
    background-color: ghostwhite;
    width: 80vh;
    height: 80vh;
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    left: 10vh;
    right: 10vh;
    align-items: center;
    align-content: center;
    display: flex;
}

.scroll {
    overflow: scroll;
    height: 80vh;
    float: left;
}

#div_messages .item {
    padding-left: 5vh;
    padding-right: 5vh;
    border-top: 1px solid;
    border-color: black;
}

#div_messages .item h3 {
    color: red;
}

#div_messages .item .message_content {
    padding-left: 5vh;
    border-style: solid;
}

#div_messages .item .message_content p{
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_messages div small {
    padding-left: 85vh;
}
